@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    background-color: transparent;
    @apply px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform rounded-md focus:outline-none whitespace-nowrap disabled:cursor-not-allowed disabled:opacity-50;
    padding-left: 0.4rem;
    padding-right:0;
    padding-top: 0.5rem;
  }
  .btn:hover{
    transform: scale(0.9); 
  }
  .input {
    @apply px-4 py-2 text-gray-700 bg-white border rounded-md mr-2 sm:mr-4 focus:border-blue-100 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 flex-grow;
  }
  .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    color: white !important;
  }
}
