/* 地图logo隐藏 */
.amap-logo *,
.amap-copyright *,
.amap-copyright {
    display: none !important;
}

#MapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.center-btns {
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 999;
    width: 400px;
    height: 120px;
    transform: translate(-50%);
}

.center-btns .btn {
    position: absolute;
    border: 0px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #1972f5);
    background-color: transparent;
}

.center-btns .btn1 {
    left: 0;
    top: 50%;
}

.center-btns .btn2 {
    left: 50%;
    transform: translate(-236%);
    top: -13px;
}

.center-btns .btn3 {
    left: 50%;
    transform: translate(-44%);
    top: -17px;
}

.center-btns .btn4 {
    left: 50%;
    transform: translate(135%);
    top: -10px;
}

.center-btns .btn5 {
    right: 0;
    top: 50%;
}

.center-btns img {
    width: 56px;
}

.center-btns .all {
    width: 275px;
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
    transform: translateX(-50%);
}
