/* 地图logo隐藏 */
.amap-logo *,
.amap-copyright *,
.amap-copyright {
    display: none !important;
}

#MapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.center-btns {
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 999;
    width: 400px;
    height: 120px;
    transform: translate(-50%);
}

.center-btns .btn {
    position: absolute;
    border: 0px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #1972f5);
    background-color: transparent;
}

.center-btns .btn1:active,
.center-btns .btn5:active {
    transform: scale(0.96);
    transition: transform 0.3s ease;
}

.center-btns .btn1 {
    left: 0;
    top: 50%;
}

.center-btns .btn2 {
    left: 50%;
    transform: translate(-236%, 0);
    top: -13px;
}
.center-btns .btn2:active {
    transform: translate(-236%, 0) scale(0.96);
}

.center-btns .btn3 {
    left: 50%;
    transform: translate(-44%, 0);
    top: -17px;
}

.center-btns .btn3:active {
    transform: translate(-44%, 0) scale(0.96);
}

.center-btns .btn4 {
    left: 50%;
    transform: translate(135%);
    top: -10px;
}

.center-btns .btn4:active {
    transform: translate(135%, 0) scale(0.96);
}

.center-btns .btn5 {
    right: 0;
    top: 50%;
}

.center-btns img {
    width: 56px;
}

.center-btns .all {
    width: 275px;
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
    transform: translate(-50%, 0);
    transition: transform 0.3s ease;
}

.center-btns .all:hover {
    filter: drop-shadow(0px 0px 10px #1972f5);
}

.center-btns .all:active {
    transform: translate(-50%, 0) scale(0.9);
    transform-origin: center center;
}

video {
    position: absolute;
    z-index: 100;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
}

.fade-out-video {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.busModel {
    width: 290px;
    height: 150px;
    background: #2b406a80;
    border-radius: 8px;
    border: 1px solid rgb(255 255 255 / 3%);
    position: absolute;
    left: 18%;
    top: 15%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Alibaba';
}

.busModel > div {
    width: 100%;
    height: 38px;
}

.busModel span {
    width: 25%;
    display: inline-block;
    font-size: 18px;
}

.busModel input {
    width: 70%;
    border-radius: 4px;
    height: 25px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    background-color: #7186ae61;
    border: 1px solid #ffffff14;
    font-family: 'Alibaba';
}

.busModel input:focus {
    border: 1px solid #7186aeba;
    outline: none;
}

.busModel button {
    float: right;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #b8b8b800;
    padding: 4px 8px;
    background: #7186ae61;
    margin-left: 15px;
    font-family: 'Alibaba';
    cursor: pointer;
    color: white;
}

.busModel button:active {
    background-color: #5667858f;
}
